.page-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 200px;
    min-height: 0px;
    background-color: red;
    align-items: center; /* Center the overall container content */
  }
  
  .text-container {
    align-self: flex-start; /* Align text container to the start (left) */
    width: 100%; /* Make sure it takes the full width available */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons within the button container */
    width: 100%; /* Make sure it takes the full width available */
  }
  
  .title {
    font-size: 15px;
    font-weight: bold;
    margin: 4px 10px 3px 10px;
  }
  
  .subtitle {
    font-size: 13px;
    margin: 0 10px 15px 10px;
  }
  
  .documentation-button, .walkthrough-button {
    margin-bottom: 5px;
    min-width: 200px;
    max-width: 200px;
  }
  