.dropdown-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.label, .gas-limit-container {
    margin-bottom: 0.2rem;
}

.gas-limit-container, .value-container {
    margin-top: 0.5rem;
    width: 100%;
}

.gas-limit-textfield {
    width: 100%;
}

.value-textfield {
    width: 70%;
    margin-right: 0.5rem;
}

.value-dropdown {
    width: 30%;
}

.dropdown-wallets, .dropdown-contracts {
    width: 80%;
    margin-right: 0.5rem;
}

.add-wallet-button, .add-contract-button {
    width: 20%;
    height: calc(var(--input-height) * 1px);;
}

.value-field-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

.wallet-container, .contract-container {
    display: flex;
    flex-direction: row;
}

.error-message {
    color: var(--vscode-errorForeground);
}