.page-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50vh;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.submit-button {
    min-width: 100%;
}
